
/* body {

}


.allSlots{
    height: 130px;
    width: 350px;
    flex-direction: row; 
     display: block; 
    height: 500px;
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    
}

#slot1{
    background: #990012;
    width: 100px;
    color: #FFFFFF;
    border-radius: 10px;
    font: 14pt Comic Sans MS;
    text-align: center;
    line-height: 100px;
    height: 160px;
    position: fixed;
    margin-right: 210px; */
    /* -webkit-transition:width 1.5s, height 1.5s, background-color 1.5s, -webkit-transform 1.5s;
transition:width 1.5s, height 1.5s, background-color 1.5s, transform 1.5s;
     */
    
/* }
#slot2{
    width: 100px;
    height: 160px;
    background:blue;
    color: #FFFFFF;
    border-radius: 10px;
    font: 14pt Comic Sans MS;
    text-align: center;
    line-height: 100px;
    position: fixed; */
    /* -webkit-transform:rotate(360deg);
transform:rotate(360deg); */
/* animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
/* }

    
    

#slot3{
    width: 100px;
    height: 160px;
    background: green;
    color: #FFFFFF;
    border-radius: 10px;
    font: 14pt Comic Sans MS;
    text-align: center;
    line-height: 100px;
    position: fixed;
    margin-left: 240px;
    
    
}
#gamestauts{
    margin-top: -60px;
    margin-bottom: 230px;
    font-size: 100px;
    position: fixed;
}
#reset{
    margin-top: 100px;
    margin-left: 100px;
    
    
    
}
#sc {
    border: 10px solid black;
}

.slotNum{
    font-size: 100px;
} */
* {
    font-family: monospace;
}
body {
    margin: 10px;
    background-color: blue;
}
.slot-number {
    font-size: 100px;
}
.message {
    text-align: center;
    display: none;
    font-size: xx-large;
    color: white;
}
.center {
    text-align: center;
}
.lever {
    margin-top: 5px;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}