

* {
    font-family: fantasy, papyrus;
    color: red;
    text-align: center;
}
.money{
    
}
body {
    margin: 10px;
    background-color: black;
    
}
.slot-number {
    font-size: 100px;
    color: red;
    
    
}
.message {
    text-align: center;
    display: none;
    font-size: 150px;
    color: green;
}
.center {
    text-align: center;
}
.lever {
    margin-top: 5px;
    
}
table.center {
    margin-left: auto;
    margin-right: auto;
}

.jumbotron{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/283/590/412/anime-death-note-ryuk-death-note-hd-wallpaper-preview.jpg');
}
#score{
    border: 5px solid;
    display: inline;
    width: 110px;
}

#re{
color: rgb(11, 207, 54);
font-size: 40px;
}