

* {
    font-family: monospace;
}
body {
    margin: 10px;
    background-color: black;
}
.slot-number {
    font-size: 150px;
    color: red;
    
}
.message {
    text-align: center;
    display: none;
    font-size: xx-large;
    color: green;
}
.center {
    text-align: center;
}
.lever {
    margin-top: 5px;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}

.container{
    background: url(https://wallpaperaccess.com/light-death-note);
}